<!DOCTYPE html>
<html>
  <head>
    <title>HUDL</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css.map"> -->

    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
  </head>
  <body>


      <h1 class="title">Templates</h1>
      <div id="map"></div>

    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB20D3rZ8LVMzQg9_3ABmZ_IlkoakQMRKo&callback=initMap"
    async defer></script>
  </body>
</html>
